@media only screen and (min-width: 32.5em) {

    header {
        border-radius: 10px;
        display: flex;
    }

    h1 {
        font-size: 2rem;
        justify-content: space-around;
    }

    header img {
        background-color: #D3DEDC;
        box-shadow: 5px 5px 5px #888888;
    }
}