
body {
    font-family: 'Quicksand', sans-serif;
    display: block;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #D3DEDC;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px #888888;
    text-align: center;
}

h1 {
    display: block;
    font-size: 1rem;
    margin: 0.15rem;
    text-align: center;
    padding: 1em;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

main {
    margin: 0 auto;
    max-width: 45rem;
    padding: 0.75em;
}

header, footer {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 45rem;
    padding: 0.75em;
}

img {
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

ul, li {
    list-style-type: circle;
    padding: 5px;
}

footer {
    text-align: center;
    background-color: #D3DEDC;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px #888888;
}

ul a:visited {
    color: #471a6b;
  }
  
  ul a:active {
    color: #D3E4CD;
  }
  
  ul a:hover {
    color: black;
    background-color: #FFCCD2;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }