header, footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

div {
    display: grid;
    grid: 1fr;
    justify-content: center;
    align-items: center;
}

picture {
	border-top: 0.1em solid #acabab;
	padding: 1em;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.8s;
}