
/* ========================== header ===============================*/
header{
    display: grid;
    grid: 1fr / 2.5fr 1fr;
    background-color: #FEF1E6;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .5rem;
    grid-gap: 5px;

}

.heading {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.headlogo {
    width: 100px;

}

.brandname {
    width: 100%;
    font-size: .9em;
}

.brh2 {
    font-size: 1em;
}

.date {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.hero {
    
}

nav {
    background-color: #E5B299;
    font-size: .9em;
	border-radius: 5px;
    grid-column: 1/3;
    grid-row: 3/4;
}

nav > ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav a:link, nav a:visited {
  color: black;
}

nav a:hover {
	background-color: #FDF6F0;
	border-radius: 5px;
	color: #E5B299;
    transition: 0.3s;
    padding-inline: 60px;
    padding-block: 8px;
  }

.icons a > img {
    width: 25px;
    margin: 1px;
}

#togglemenu {
    margin: 5px;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
} 
#togglemenu span:nth-child(1) { 
    display: block;
}

#togglemenu span:nth-child(2) {
    display: none;
}

#togglemenu.open span:nth-child(1) {
    display: none;
}

#togglemenu.open span:nth-child(2) {
    display: block;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}


/* ========================== Main and Text ===============================*/
.grid {
    /* grid: repeat(5, 1fr)/ 1fr; */
    font-size: .7em;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin:auto 1rem;
    padding: 0.5em;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-family: 'Quicksand', sans-serif;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    
}

main > div {
    margin: auto 1rem;
    background-color: #FEF1E6;
    display: block;
}

div > .heroimg {
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    border-radius: 10px;
}

.herocontent {
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    
}

.herocontent > h3 {
    display: block;
    position: relative;
    padding: 10px;
    margin-right: 200px;
    margin-top: -90px;
    background-color: #FDF6F0;
    border-radius: 5px;
}

.herocontent > a {
    display: inline;
    position: absolute;
    background-color: #FDF6F0;
    border-radius: 5px;
    margin-left: 280px;
    margin-top: 100px;
}

.join {
    display: none;
    padding: 10px;
    text-align: center;
}

.join > button {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    font-size: .9em;
    position: absolute;
    left: 50%;
    margin: 10px;
}

.weather {
    align-items: center;
    justify-content: center;
    padding: 10px;
    line-height: 2px;
}

.weather h3{
    text-align: center;
}

.heroimg > img {
    width: 400px;
    border-radius: 10px;
    
}

.event {
    padding: 10px;
    text-align: center;
}

.news {
    padding: 10px;
    text-align: center;
}

.spotlight {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

section > div {
    width: auto;
}

p, a, li, .date{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    font-size: .9em;
    }

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.spotlight3 {
    display: none;
}

/* .spotlight3 {
    display: none;
} */

/* ========================== Footer ===============================*/

.upperfooter {
    display: block;
    align-items: center;
    justify-content: space-around;
    font-size: .6em;
    margin: 0 auto;
}

.upperfooter > .info {
    margin-left: 0;
}

.contact {
    text-align: center;
    line-height: 2;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    background-color: #E5B299;
    color: #FDF6F0;
    border-radius: 5px;
    transition: 0.3s;
    padding: 5px;
}
hr {
    color: black
}

.name {
    display: block;
    text-align: center;
}

.name > p {
    font-size: .7em;
    margin: 0;
}

footer {
    align-items: center;
    background-color: #FEF1E6;
    padding-bottom: 5px;
}

.info {
    text-align: center;
}

#lastmod {
    margin: 0;
}

.footerlogo {
    display: block;
    width: 80px;
    margin: 0 auto;
}

