/* ========================== header ===============================*/

body {
    min-width: 200px;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    transition: 2s;
    justify-content: center;
}

header {
    display: grid;
    grid: 1fr / 2.5fr 1fr;
    background-color: #DFF6FF;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .5rem;
    grid-gap: 5px;
    padding: 20px;

}

.heading {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.headlogo {
    display: block;
    margin-left: 50px;
    width: 100px;
    cursor: pointer;
    min-width: 100px;
}

.brandname {
    width: 100%;
    font-size: 1em;
    padding-left: 10px;
}

.logoname {
    letter-spacing: 25px;
    margin-bottom: 0;
    margin-top: 20px;
}

.servicename {
    padding-right: 30px;
    margin-top: 0;
    min-width: 200px;
}

/* #primarynav a {
    color: white;
} */

.manuNav {
    
    background-color: #1572A1;
    font-size: .9em;
    border-radius: 5px;
    grid-column: 1/3;
    grid-row: 2/3;
    padding-inline: 10px;
    
}

.manuNav li {
    padding: 10px;
    transition: 0.3s;
    
}

.manuNav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

.manuNav a {
    text-decoration: none;
    color: black;
}

.manuNav li:link,
.manuNav li:visited {
    color: black;
    transition: 0.3s;
}

.manuNav li:hover,
.manuNav li.active {
    background-color: #FDF6F0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.menu {
    background-color: #1572A1;
    border-radius: 5px;
    margin: 20px 20px 20px 0;
}

#togglemenu {
    margin: 5px;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-inline: 30px;
}

#togglemenu span:nth-child(1) {
    display: block;
}

#togglemenu span:nth-child(2) {
    display: none;
}

#togglemenu.open span:nth-child(1) {
    display: none;
}

#togglemenu.open span:nth-child(2) {
    display: block;
}

.manuNav ul {
    display: none;
}

.manuNav ul.open {
    display: block;
    grid-column: 1/3;
    grid-row: 2/3;
}

/* ========================== Main and Text ===============================*/

* {
    box-sizing: border-box;
}

.grid {
    grid: repeat(2, 1fr);
    display: grid;
    grid-column-gap: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: auto 1rem;
    padding: 0.5em;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Quicksand', light-sans-serif;
}

p,
a,
.date,
label,
td, .list {
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img[data-src] {
    filter: blur(0.2em);
}

 img {
    max-width: 100%;
    filter: blur(0em);
    transition: filter 0.8s;
    border-radius: 5px;
} 

/* ============================= Home ============================= */

.hero {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstDiv {
    margin: 20px 10px 90px 10px;
    margin-top: 80px;
        margin-bottom: 50px;
}

.firstDiv .portrait {
    border-radius: 50%;
    width: 200px;
    float: left;
    shape-outside: ellipse(50% 50%);
    margin-right: 1rem;
}

.mainImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    /* background-attachment: fixed; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 100;
}


.hero > .wel {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 10%;
    color: white;
    font-size: large;
    text-shadow: rgb(37 0 0 / 56%) 0px 0px 17.1px;
}

.intro {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.mainleftBtn {
    display: block;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 10px;
    width: 150px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: #DFF6FF;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.mainleftBtn:hover {
    color: black;
    cursor: pointer;
}

.mainleftBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #1572A1;
    border-radius: 5px;
}

.mainleftBtn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.mainBtn {
    display: block;
    text-decoration: none;
    text-align: center;
    float: right;
    margin: 10px;
    width: 150px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: #DFF6FF;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.mainBtn:hover {
    color: black;
    cursor: pointer;
}

.mainBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #1572A1;
    border-radius: 5px;
}

.mainBtn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.slides {
    border-radius: 10px;
    padding: 10px;
    background-color: #DFF6FF;
}



.spotlight section {
    border-radius: 5px;
    padding: 40px;
    background-color: #DFF6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

section .featuredImg {
    width: 100%;
}

.featured {
    letter-spacing: 10px;
    text-align: center;
    margin-top: 0;
}

/* section img {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 0.75em;
} */

.spotlight {
    display: flex;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1em;
    background-color: white;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.dotbox {
    grid-column: 1/4;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active1, .dot:hover {
    background-color: #717171;
}

.slidebtn, .tS {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: #1572A1;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.slidebtn:hover, .tS:hover {
    color: black;
    cursor: pointer;
}

.slidebtn:before, .tS:before  {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: white;
    border-radius: 5px;
}

.slidebtn:hover:before, .tS:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}



.slides {
    display: grid;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.grid .line {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.next {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    text-align: end;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.next:hover {
    background-color: #1572A1;
    transition: 0.5s;
}


.prev {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
    text-align: start;
    cursor: pointer;
    padding: 20px;
    background-color: #DFF6FF;
    transition: 0.5s;
    border-radius: 10px;
}

.prev:hover {
    background-color: #1572A1;
    transition: 0.5s;
}

.spotlight-head {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
}

.transi {
    grid-column: 2/3;
    grid-row: 2/3;
    animation-name: fade;
    animation-duration: 1s;
}

.slidesImg {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 100;
    transition: width 2s, height 4s;
}

.weather {
    display: block;
    width: 0 auto;
    background-color: #DFF6FF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 20px;
}

.weatherapi {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.reviews {
    display: grid;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1em;
    background-color: #DFF6FF;
    grid-gap: 1rem;
    margin-bottom: 2em;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.news {
    display: none;
}

.reviews section {
    border-radius: 5px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}

.rev, .rev1, .rev2 {
    align-items: center;
}

.rev {
    grid-column: 1/4;
    grid-row: 2/3;
}

.rev1 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.rev2 {
    grid-column: 1/4;
    grid-row: 4/5;
}

.revImg {
    border-radius: 60% 0%;
}
/* ========================== Temples ============================= */

* {
    box-sizing: border-box;
}

.cards section {
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #DFF6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cards section p {
    padding: 20px;
}

section img {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 0.75em;
}
.tableCards {
    display: none;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    max-width: 100%;
    filter: blur(0em);
    transition: filter 0.8s;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    background: white;
    padding: 30px;
    border-radius: 3px;
}

.buttons button {
    margin: 0 15px;
    letter-spacing: 3px;
    cursor: pointer;
    letter-spacing: 3px;
    padding: 15px;
    border: none;
    border-radius: 3px;
    background-color: #1572A1;
    color: black;
    transition: 0.3s;
}

button span {
    font-family: 'Montserrat', sans-serif;
}

button:hover,
button.active {
    color: white;
    background-color: #1572A1;
    transition: 0.3s;
}

main .tableCards {
    background-color: white;
}

table {
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 10px #e2e1df;
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 2em;
}

th,
tr,
td {
    border-radius: 5px;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 40px 10px 40px;
    text-align: center;
}

th {
    color: white;
    background-color: #1572A1;
}

tbody tr:nth-child(even) {
    background-color: #DFF6FF;
}

tbody tr:nth-child(odd) {
    background-color: #FDF6F0;
}

tbody tr:hover {
    background-color: #fddac7;
    transition: 0.3s;
}



.cards {
    display: grid;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1em;
    background-color: white;
    grid-gap: 1rem;
    margin-bottom: 2em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}



.moreInfo1, .moreInfo2, .moreInfo3, .moreInfo4 , .moreInfo5, .moreInfo6, .moreInfo7, .moreInfo8, .moreInfo9, .moreInfo10 {
    display: block;
    text-decoration: none;
    text-align: center;
    float: right;
    margin: 10px;
    width: 150px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;

    outline: none;
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 10px;
}
.likeBtn {
    display: block;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 10px;
    width: 50px;
    color: black;
    border-radius: 50% 0%;
    transition: ease-out 0.3s;
 
    outline: none;
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 10px 10px;
    color: black;
    cursor: pointer;
}

.likeBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #95CD41;
    border-radius: 50% 0%;
}

.likeBtn:hover::before {
    transition: 0.2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.moreInfo1:hover, .moreInfo2:hover, .moreInfo3:hover, .moreInfo4:hover, .moreInfo5:hover, .moreInfo6:hover, .moreInfo7:hover, .moreInfo8:hover, .moreInfo9:hover, .moreInfo10:hover {
    color: black;
    cursor: pointer;
}

.moreInfo1:before, .moreInfo2:before, .moreInfo3:before, .moreInfo4:before, .moreInfo5:before, .moreInfo6:before, .moreInfo7:before, .moreInfo8:before, .moreInfo9:before, .moreInfo10:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #1572A1;
    border-radius: 5px;
}

.moreInfo1:hover:before, .moreInfo2:hover:before, .moreInfo3:hover:before, .moreInfo4:hover:before, .moreInfo5:hover:before, .moreInfo6:hover:before, .moreInfo7:hover:before, .moreInfo8:hover:before, .moreInfo9:hover:before, .moreInfo10:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.popup-screen {
    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 25px rgb(0 0 0/20%);
}

.close-btn { 
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
    transition-property: opacity;
}

/* ======================== */

*, *::after, *::before {
    box-sizing: border-box;
  }

  /* .overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8, .overlay9, .overlay10  */
 #overlay {
    z-index: 2;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    pointer-events: none;
  }
  
  /* .modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal7, .modal8, .modal9, .modal10 */
  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: 999999;
    width: 500px;
    max-width: 80%;
  }
  
  #modal.active
   {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;  

    
  }
  
 /* .overlay1.active, .overlay2.active, .overlay3.active, .overlay4.active, .overlay5.active, .overlay6.active, .overlay7.active, .overlay8.active, .overlay9.active, .overlay10.active */
  #overlay.active{
    opacity: 1;
    pointer-events: all;
}

/* =========================== Reservation HTML ========================== */


form {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    margin-right: 10px;
}

form fieldset {
    border-radius: 10px;
    padding: 1.5em;
    border: solid 1px #1572A1;
    margin-top: 20px;
}

.fieldset1 {
    display: grid;
    grid: repeat(2, 1fr / 1fr 1fr);
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.fs1div1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.fs1div1, .fs1div2  {
    padding: 0px 20px 0px 20px;
}

.fs1div2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.fs1div3 {
    grid-column: 1/2;
    grid-row: 3/4;
}


.fieldset2 {
    display: grid;
    grid: repeat(2, 1fr);
    grid-column: 1/2;
    grid-row: 2/3;
}

.fs2div1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.fs2div2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.fieldset3 {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 50%;
}

form legend {
    padding: 1rem;
}

form label.infor,
form label.pandr {
    display: block;
    padding: 0.5rem;
    font-size: .8rem;
}

form label.package {
    display: block;
    padding: 0.50em 3em;

}

form label.infor input,
form label.pandr input {
    display: block;
    font-size: 1rem;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 100%;
}

form label.pandr select {
    display: block;
    font-size: 1rem;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 100%;
}

form label.package input {
    padding: 1rem;
}

form label.infor input:required,
form label.pandr input:required {
    border-left: solid 5px #F05454;
}

form label.infor input:required:valid,
form label.pandr input:required:valid {
    border: solid 1px #95CD41;
}

form input.submitbtn {
    margin: 20px;
    width: 100%;
    padding: .75rem;
    max-width: 90%;
    border: none;
    background-color: #DFF6FF;
    color: black;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

legend,
.submitbtn {
    font-family: 'Montserrat', sans-serif;
    background-color: #DFF6FF;
    border-radius: 5px;
    grid-row: 4/5;
}

form label.infor textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    padding: .75rem;
    width: 100%;
    max-width: 100%;
}


.intro {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
    font-size: medium;
}


/* ========================== Services Page ===============================*/

.secondDiv fieldset {
    display: grid;
    margin-top: 100px;
    border-radius: 10px;
    padding: 1.5em;
    border: solid 1px #1572A1;
}

.infoass legend {
    padding: 10px;
}

.infoass ul {
    font-family: 'Quicksand', light-sans-serif;
    font-size: medium;
}

.twoService {
    display: grid;
}

.missionary {
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 10px;
}

.reception {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10px;
}

.mis, .rec {
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #DFF6FF;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.goMenu {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 150px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: #DFF6FF;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.goMenu:hover {
    color: black;
    cursor: pointer;
}

.goMenu:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #1572A1;
    border-radius: 5px;
}

.goMenu:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* ========================== Booked Page ======================= */

.ty {
    margin-top: 65px;
}

.flower {

    display: flex;
    margin: 0 auto;
    width: 80%;
}

.ps{
    margin-top: 30px;
    text-align: center;
}

.firstDivbn {
    margin: 0px 20px 90px 20px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.firstDivbn .portrait {
    border-radius: 50%;
    width: 200px;
    float: left;
    shape-outside: ellipse(50% 50%);
    margin-right: 1rem;
}


/* ========================== Reception Page ============================= */

.receptionInfo, .recep1, .recep2 {
    display: grid;
    margin: 10px, ;
    font-family: 'Quicksand', light-sans-serif;
    font-size: medium;
}


.receptionInfo section {
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    text-align: center;
    flex-direction: column;
    background-color: #DFF6FF;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin-left: 10px;
    margin-right: 10px;
}

.recepimg1 {
    width: 100%;
    border-radius: 50% 0%;
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/2;
}

.receptext1{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
}

.recepimg2 {
    width: 100%;
    border-radius: 50% 0%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.receptext2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.receptext2 li {
    text-align: left;
}


/* ========================== Footer ===============================*/

footer {
    margin-top: 50px;
    display: grid;
    align-items: center;
    background-color: #1572A1;
    padding-bottom: 5px;
}

.dateuk {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    margin: 0;
    color: white;
    padding: 10px;
}

#lastmod {
    margin: 0;
    grid-row: 7/8;
    grid-column: 1/4;
}

.footlogo {
    display: block;
    margin: 0 auto;
    width: 100px;
    min-width: 100px;
    grid-row: 2/3;
    grid-column: 1/3;
}

.footerNav {
    display: block;
    font-size: .9em;
    border-radius: 5px;
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: center;
    padding-inline: 10px;
    
}

.footerNav li {
    padding: 10px;
    transition: 0.3s;
}

.footerNav > ul {
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

.footerNav a {
    text-decoration: none;
}

.footerNav a:link,
.footerNav a:visited {
    color: black;
    transition: 0.3s;
}


.footerNav a:hover{
    background-color: #FDF6F0;
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px;
}

/* 



z
.footerNav a {
    text-decoration: none;
    color: #FDF6F0;
    padding: 10px;
    transition: 0.3s;
}

.footerNav a:hover{
    background-color: white;
    color: #1572A1;  
    border-radius: 5px;
    transition: 0.3s;
    padding: 8px;
} */

.footeraddButton {
    display: flex;
    text-align: center;
    grid-column: 1/4;
    grid-row: 4/5;
    color: white;
    margin: 0 auto;
    justify-content: space-around;
}

.footeraddButton p {
    text-align: center;
    align-self: center;
    padding: 10px;
    justify-content: space-around;
    color: white;
    margin: 0;
}

.map {
    display: block;
    text-decoration: none;
    text-align: center;
    float: right;
    margin: 10px;
    width: 150px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.map:hover {
    color: black;
    cursor: pointer;
}

.map:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #DFF6FF;
    border-radius: 5px;
}

.map:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.btnfollowUs {
    display: flex;
    grid-column: 1/4;
    grid-row: 6/7;
    width: 170px;
    margin: 0 auto;
    justify-content: space-around;
    
}

.btnfollowUs a {
    margin: 10px;
}

.followUs {
    grid-row: 5/6;
    grid-column: 1/4;
    text-align: center;
    margin: 10px;
    letter-spacing: 1px;
    color: white;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.contact {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 350px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.contact:hover {
    color: black;
    cursor: pointer;
}

.contact:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #1572A1;
    border-radius: 5px;
}

.contact:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.contact1 {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 350px;
    color: black;
    border-radius: 5px;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    background-color: #DFF6FF;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.contact1:hover {
    color: black;
    cursor: pointer;
}

.contact1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #1572A1;
    border-radius: 5px;
}

.contact1:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.ptalk {
    text-align: center;
}