* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

h1,
h2 {
  margin: 0.25em;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  background-color: #E5B299;
  max-width: 1300px;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #E5B299;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
}

header {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-color: #E5B299;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1em;
  max-width: 900px;
  }

main {
  max-width: 1080px;
  margin: 0 auto;
}

section {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #FEF1E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section p {
  font-size: 0.8rem;
}

section img {
  width: 150px;
  height: auto;
  box-shadow: 0 0 15px #333;
  margin-top: 0.75em;
}

.cards {
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1em;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

footer {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-color: #E5B299;
  border-radius: 5px;
  padding: 10px;
  margin-top: 2em;
  max-width: 900px;
}

img[data-src] {
  filter: blur(0.2em);
}

img {
  max-width: 100%;
  filter: blur(0em);
  transition: filter 0.8s;
  border-radius: 5px;
}

/* medium viewports */
@media (min-width: 520px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* large viewports */
@media (min-width: 960px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}