main {
    padding: 30px;
    border-radius: 10px;
	margin: 20rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

body {
    margin: 0 auto;
    padding: 10px;
}

header, section {
padding: 20px;
border-radius: 10px;
margin: 0 auto;
}

header, footer {
display: block;
background-color: #D3DEDC;
text-align: center;
border-radius: 10px;
box-shadow: 10px 5px 5px 5px #d1d0d0;
min-width: 600px;
margin: 20rem;
margin-top: 2rem;
margin-bottom: 0;
}

footer {
display: flex;
justify-content: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	min-width: 600px;
}

th, td {
	border: 1px solid #dddddd;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	padding: 10px;
}

.siteheader {
	background-color: #FEF1E6;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}

.footernav {
	background-color: #FEF1E6;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

.primarynav {
	background-color: #E5B299;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
}
.primaryhover {
	background-color: #FDF6F0;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
}
.head1 {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
}

.head2 {
	background-color: white ;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
}

.head3 {
	background-color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 18.72px;
}

.partext {
	background-color: white;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

nav {
	background-color: #E5B299;
	font-size: 1.2em;
	border-radius: 3px;
	min-width: 600px;
	
}

nav > ul {
	list-style-type: none;
	display: flex;
	margin-right: 40px;
	justify-content: space-around;
	
}

nav a {
	padding: 1em;
	min-width: 80px;
}

nav a:link,
nav a:visited {
  color: black;
}

nav a:hover {
	background-color: #FDF6F0;
	border-radius: 2px;
  }

.colored {
	background-color: white ;
}

#lastmod {
margin-left: 10px;
}


section p {
text-indent: 2em;
}

header p {
font-size: 1.5em;
}


h1 {
font-family: 'Montserrat', sans-serif;
}

main > h2 {
	font-family: 'Quicksand', sans-serif;
	text-align: left;
}

h3 {
font-family: 'Quicksand', sans-serif;
font-size: 1em;

}

img {
display: table-cell;
text-align: center;
min-width: 10px;
margin: 0 auto;
}

h2 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

/* h2 {
text-align: center;
font-size: 2rem;
font-family: 'Quicksand', sans-serif;
background-color: #92A9BD;
padding: 1em;
border-radius: 10px;
margin-top: 0;
} */

ul > li {
	padding: 20px;
}


p, a, li{
line-height: 1.5;
font-family: 'Quicksand', sans-serif;
}

section {
background-color: #FFF8F3;
box-shadow: 5px 5px 5px #d1d0d0;
margin-top: 20px;
}

